html, body{
    height: 100%;
    font-family: Helvetica;
    overflow-x: hidden;
}

.container_informations {
    width: 80%;
    margin: 2px auto;
    padding: 30px;
}

h1{
    font-size: 30px
}

h2{
    color: rgb(60, 71, 57);
    margin-left: 50px;
}

ul {
  list-style: none;
  padding-left: 0;
}

li::before {
  content: "➜ ";
  margin-right: 8px;
}

#le_header{
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: rgb(118, 125, 145);
    font-family: Helvetica;
    font-size: 25px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.bouton_header{
    margin-left: 35px;
}

.bouton_header button{
    padding:20px 18px;
    border:none;
    background:rgb(61, 69, 70);
    color:rgb(255, 255, 255);
    cursor:pointer;
    font-size:21px;
    border-radius:50px;
    margin-left: 15px;
    transition: 0.3s;
}

.bouton_header button:hover{
    padding:20px 18px;
    border:none;
    background:rgb(152, 156, 173);
    color:rgb(0, 0, 0);
    cursor:pointer;
    font-size:21px;
    border-radius:50px;
    margin-left: 15px;
}

.menu{
    position: fixed;
    left: 0;
    top: 35%;
    width: 20%;
    height: 50%;
    align-items: center;
    padding: 20px;
    font-size: 25px;

}

.menu a{
    color: black;
    text-decoration: none;
}

.menu a:hover{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

body.page{
    background-color: #ffffff;
    margin : 0;
    padding: 0;
    color: rgb(0, 0, 0);
    font-family: Arial;
}

#image_sous_header{
    margin-top: 105px;
}

#image_verte{
    width: 100%;
    height: 70px;
}

a{
    color: rgb(68, 146, 97);
    text-decoration: none;
}

a:hover{
    color: black;
    font-weight: bold;
}

#Introduction{
    scroll-margin-top: 105px;
    margin: auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    width: 56%;
    font-size: 18px;
}

#Introduction{
    scroll-margin-top: 105px;
    margin: auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    width: 56%;
    font-size: 18px;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.presentation {
    margin-top: 100px;
    margin-left: -225px;
    display: flex;
    gap: 20px
}

#texte_Introduction{
    text-align: justify;
}

#Hoel{
    width: 169px;
    height: 210 px;
    vertical-align: middle;
}

#Objectif{
    scroll-margin-top: 105px;
    margin: auto;
    text-align: justify;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    width: 56%;
    font-size: 18px;
    font-family: Helvetica;
    line-height: 1.6;
}

#Parcours{
    scroll-margin-top: 105px;
    margin: auto;
    text-align: justify;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    width: 56%;
    font-size: 18px;
    font-family: Helvetica;
    line-height: 1.6;
}

#h3{
    font-family: Helvetica;
    font-size: 18px;
    text-align: center;
    color: rgb(150, 38, 38);
}

.tableau {
    border-collapse: collapse;
    margin:auto;
}

.tableau th{
    width: 200px;
    height: 50px;
    text-align: center;
    font-size: 18px;
    font-family: Helvetica;
    border: 1px solid black;
}

.tableau td{
    padding: 10px;
    font-size: 18px;
}

.tableau img{
    width: 150px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
}

#description-text {
    text-align: justify;
    border-radius: 8px;
    background-color: rgb(228, 223, 217);
    height: 300px;
    width: 100%;
    padding: 20px;
}

h4{
    font-style: italic;
    font-size: 9px;
    color: rgb(160, 160, 160);
}

#Competences{
    scroll-margin-top: 105px;
    margin: auto;
    text-align: justify;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    width: 56%;
    font-size: 18px;
    font-family: Helvetica;
    line-height: 1.6;
}

#le_footer{
    align-items: center;
    padding: 15px;
    background-color: rgb(118, 125, 145);
    font-family: Helvetica;
    font-size: 12px;
    top: 0;
    left: 0;
    width: 100%;
}

h5{
    font-size: 21px;
}

.le_footer a{
    color: rgb(228, 223, 217);
}